reviews_filepath: /path/to/review/file.xlsx
steam_url_name: None  # https://steamcommunity.com/id/<your_steam_url_name>/
steam_user_id: None # https://store.steampowered.com/account/ => Steam ID: <Some Number>
igdb_client_id: None  # https://dev.twitch.tv/
igdb_client_secret: None  # https://dev.twitch.tv/